@font-face {
  font-family: goshaSans;
  src: url(fonts/gosha-sans-cufonfonts/GoshaSansRegular.otf);
}

@font-face {
  font-family: helveticaNeue;
  src: url(fonts/Helvetica-Neue-Font/Helvetica\ Neue\ Medium\ Extended.otf);
}

html {
  font-family: helveticaNeue, Helvetica;
  background-color: #1F2937;
  font-weight: bold;
}

body {
  background-color: #111827;
  margin: 0;
  position: relative;
  color: #FFFFFF;
} 

.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

#treasureLogo {
  background: black;
  max-height: 50px;
}

#bannerTitle {
  color: #FFFFFF;
  font-size: 3.5vmax;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  font-family: goshaSans, serif;
  margin: 0% 0% 0% 1%;
}

#controls {
  display: flex;
  flex-direction: column;
  padding: 1% 0;
  background-color: black;
  width: 100%;
  justify-content: center;
  border-color: #000000 black #d60037 black;
  border-style: solid;
  position: sticky;
  top:0;
  align-self: flex-start;
  z-index: 9;
}

#headlineControlContainer {
  display: flex;
  justify-content: space-evenly;
}

.headlineControl {
  display: flex;
  align-items: center;
}

.headlineControlText {
  margin: 0 5px 0 0;
  text-align: right;
}

.headlineDropdown {
  min-width: 150px;
  width: 40%;
}

#attributeDropdownContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1% 0 0;
}

.attributeBox {
  display: flex;
  flex-direction: column;
  flex-basis: 8%;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 100px;
  margin: 0 5px;
}

.attributeText {
  white-space: nowrap
}

#buttonLabel {
  color: #000000
}

#summaryStatsContainer {
  display: flex;
  justify-content: space-evenly;
}

.summaryStatBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: #d60037;
  border-style: solid;
  border-radius: 0.375rem;
  background-color: #212938;
  color: #9ca3af;
  flex-basis: 15%;
  padding: 1%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 4% 0;
}

.summaryStatMetric {
  color: #FFFFFF;
}

#outlierToggleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 8;
  margin: 0 0 -6%;
}

#frequencyIntervalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 8;
  margin: 0 0 -9%;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: #FFFFFF;
}

.Select-menu-outer {
  background-color: #374251;
}

@media (max-width: 600px) {

  #summaryStatsContainer {
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
  }

  .summaryStatBox {
    flex-direction: row;
    min-width: 250px;
    margin: 1.5% 0;
    padding: 5% 0;
  }

  #headlineControlContainer {
    flex-direction: column;
    align-items: flex-end;
    margin: 0 25% 0;
  }

  .headlineControl {
    display: flex;
    align-items: center;
    margin: 1% 0;
  }
  
  .headlineControlText {
    min-width: 200px;
  }

  #outlierToggleContainer {
    margin: 0 0 -15%;
  }

  #frequencyIntervalContainer {
    margin: 0 0 -20%;
  }
}